body {
  font-family: sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.navbarhomebar:hover .navText {
  color: #5cc5ca;
}

.navbarhomebar:hover .navdot {
  background-color: #5cc5ca;
}

.signinbuton:hover .arrowDiv {
  transform: translateX(4px);
}
.footerLi {
  transition: all 1.5s;
}
.footerspan {
  transition: all 0.5s;
}
.footerLi:hover .footerspan {
  transform: translateY(-8px) translateX(5px);
}

@keyframes imageAnimate {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes imageFirstAnimate {
  0% {
    transform: translateY(-350px) translateX(30px);
  }
  25% {
    transform: translateY(-262.5px) translateX(-30px);
  }
  50% {
    transform: translateY(-175px) translateX(30px);
  }
  75% {
    transform: translateY(-87.5px) translateX(-30px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

.animateFirstImageDiv {
  animation: imageFirstAnimate 2s ease-in-out 1;
  transition: all 2s;
}

.animateImageDiv {
  animation: imageAnimate 2s ease-in-out infinite;
  transition: all 2s;
}

@media (max-width: 29em) {
  .footerLi:hover .footerspan {
    transform: translateY(-4px) translateX(2.5px);
  }
}

.animationDiv {
}

.animationDiv:hover .animationarrow {
  opacity: 1;
  visibility: visible;
  transform: translateX(7px);
}

.animationarrow {
  opacity: 0;
  visibility: 0;
  transform: translateX(-4px);
}

.textDiv:hover .textarrowdiv {
  opacity: 1;
  visibility: visible;
  transform: translateX(7px);
}

.textDiv {
}

.textarrowdiv {
  opacity: 0;
  visibility: 0;
  transform: translateX(-4px);
}
